<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #393E46;
      color: #FFFFFF !important;
    }
    
    .title {
      color: #FFFFFF;
    }

    .container {
      text-align: center;
      margin-top: 24px;
      border-radius:4px;
      padding: 24px;
      background-color: #222831;
    }

    .container>img {
      margin: 16px 0;
      width: 120px;
      height: 120px;
    }

    .container>.text-content {
      color: #FFFFFF !important;
      font-size: 16px;
    }

    .button-container {
      margin: 48px 0;
    }

    .button {
      background: #00bcd4;
      padding: 16px 40px;
      border-radius: 4px;
      text-decoration: none;
      color: #FFFFFF;
    }

    .button:hover {
      color: #FFFFFF;
    }

    .text-content>p>a {
      color: #00bcd4;
    }

  </style>
</head>
<body>
  <body>
    <div class="container">
      <h1 class="title">Olá, {{name}}</h1>
      <img src="https://s3.sa-east-1.amazonaws.com/finance.io-dev/logo.png" alt="Logo Finance.io">
      <div class="text-content">
        <p>Parace que você esqueceu sua senha e solicitou uma alteração!</p>
        <p>Caso não tenha sido você que, desconsidere este e-mail.</p>
        <p>Se foi você, clique no botão abaixo.</p>
        <div class="button-container">
          <a class="button" href={{link}} target="_blank">Alterar Senha</a>
        </div>
        <p>
          Ou acesse o link abaixo: 
          <a href={{link}} target="_blank">Alterar Senha</a>
        </p>
      </div>
    </div>
  </body>
</body>
</html>